/* Alterando cor primária dos botões para a cor da página */
.btn-primary{ 
    background-color: #16345a;
    border: none;
}

.btn-primary:hover{ /* Resolvendo stick do highlight ao apertar o botão */
    background-color: #16345a;
}

/* Animação dos Botões: Crescer */


@media (hover: hover) and (pointer: fine) {
    .anim-grow {
        transition: transform 0.3s ease 0s;
    }
    
    .btn-primary:hover{ 
        background-color:#0d6efd;
    }

    .anim-grow:hover {
        transform:scale(1.1, 1.1);
    }
}

/* Toggle do modo branco */

.white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(206deg) brightness(103%) contrast(105%);
}