/* Alterando cor primária dos botões para a cor da página */
.btn-primary{ 
    background-color: #16345a;
    border: none;
}

.btn-primary:hover{ /* Resolvendo stick do highlight ao apertar o botão */
    background-color: #16345a;
}


/* Animação dos Botões: Crescer */

@media (max-width: 991.98px) {
    #hero {
        margin-top: -5%;
    }

    #btnMode {
        padding: 0.8rem;
    }

    #sobreTitulo {
        padding-bottom: 2vh;
    }
}


@media (hover: hover) and (pointer: fine) {
    .anim-fast {
        transition: transform 0.3s ease 0s;
    }
    
    .btn-primary:hover{ 
        background-color:#0d6efd;
    }

    .anim-grow-sm:hover {
        transform:scale(1.05, 1.05);
    }

    .anim-grow-md:hover {
        transform:scale(1.1, 1.1);
    }

    #whatsapp:hover {
        filter: invert(71%) sepia(22%) saturate(1331%) hue-rotate(88deg) brightness(88%) contrast(103%);
    }
}

/* Toggle de cor */

.white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(206deg) brightness(103%) contrast(105%);
}

.atlo-primary {
    filter: invert(18%) sepia(60%) saturate(630%) hue-rotate(171deg) brightness(92%) contrast(98%);
}

.whatsapp-green{
    filter: invert(71%) sepia(22%) saturate(1331%) hue-rotate(88deg) brightness(88%) contrast(103%);
}

.toggledoff { /* Desabilitar */
    display: none;
}
